$black: #444;
$white: #f2f3f4;
$gray: #dcdcdc;
$black: #4e4e4e;

$headerHeight: 40px;
$windowHeight: 100%;
$windowWidth: 100%;
$windowMinWidth: 320px;

//Colors

$primary-regular: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;

$brown-regular: #795548;
$brown-light: #a98274;
$brown-dark: #4b2c20;

$purple-regular: #9c27b0;
$purple-light: #d05ce3;
$purple-dark: #6a0080;

$deeppurple-regular: #673ab7;
$deeppurple-light: #9a67ea;
$deeppurple-dark: #320b86;

$pink-regular: #e91e63;
$pink-light: #ff6090;
$pink-dark: #b0003a;

$red-regular: #f44336;
$red-light: #ff7961;
$red-dark: #ba000d;

$indigo-regular: #3f51b5;
$indigo-light: #757de8;
$indigo-dark: #002984;

$lightblue-regular: #03a9f4;
$lightblue-light: #67daff;
$lightblue-dark: #007ac1;

$cyan-regular: #00acc1;
$cyan-light: #5ddef4;
$cyan-dark: #006978;

$teal-regular: #009688;
$teal-light: #52c7b8;
$teal-dark: #007c91;

$orange-regular: #f57c00;
$orange-light: #ffad42;
$orange-dark: #bb4d00;

$deeporange-regular: #ff5722;
$deeporange-light: #ff8a50;
$deeporange-dark: #c41c00;

$bluegrey-regular: #607d8b;
$bluegrey-light: #8eacbb;
$bluegrey-dark: #34515e;

$green-regular: #4caf50;
$green-light: #80e27e;
$green-dark: #087f23;

$lime-regular: #c0ca33;
$lime-light: #f5fd67;
$lime-dark: #8c9900;